@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  font-size: 15px;
  font-weight: 400;
  font-family: Poppins;
  color: hsl(229, 6%, 66%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: hsl(0, 0%, 98%);
}

.first-line,
.second-line,
h2 {
  color: hsl(234, 12%, 34%);
  font-weight: 600;
}

.first-line {
  font-weight: 200;
}

.header-detail {
  text-align: center;
  font-weight: 200;
}

.cards .card {
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 10px 15px hsla(230, 42%, 75%, 0.408);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cards .card .detail h2,
.cards .card .detail p {
  background-color: white;
}
.cards .card .icon-section {
  display: flex;
  justify-content: right;
  background-color: white;
}
.cards .card .icon-section img {
  background: none;
}
.cards #first-card {
  border-top: 4px solid hsl(180, 62%, 55%);
}
.cards #second-card {
  border-top: 4px solid hsl(0, 78%, 62%);
}
.cards #third-card {
  border-top: 4px solid hsl(34, 97%, 64%);
}
.cards #fourth-card {
  border-top: 4px solid hsl(212, 86%, 64%);
}

@media (min-width: 375px) {
  .container {
    width: 375px;
    height: -moz-fit-content;
    height: fit-content;
    padding: 80px 30px 70px 30px;
    margin: 0 auto;
  }
  .container .header {
    width: 100%;
    margin-bottom: 70px;
  }
  .container .header .first-line {
    font-size: 1.6rem;
    text-align: center;
  }
  .container .header .second-line {
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 20px;
  }
  .container .header .header-detail {
    text-align: center;
  }
  .container .cards .card {
    height: 220px;
    margin-bottom: 25px;
    padding: 30px 25px 25px 25px;
  }
  .container .cards .card .detail {
    line-height: 1.5rem;
  }
  .container .cards .card .detail h2 {
    padding-bottom: 5px;
    font-size: 1.3rem;
  }
  .container .cards .card .detail p {
    font-size: 0.8rem;
    letter-spacing: 0.8px;
    font-weight: 200;
  }
}
@media (min-width: 1440px) {
  .container {
    width: 1440px;
    height: 922px;
    margin: 0 auto;
    padding: 85px 165px;
  }
  .container .header {
    width: 510px;
    margin: 0 auto 60px auto;
  }
  .container .header .first-line,
  .container .header .second-line {
    font-size: 2.3rem;
  }
  .container .header .first-line {
    line-height: 2.8rem;
  }
  .container .header .second-line {
    margin-bottom: 10px;
  }
  .container .cards {
    display: grid;
    grid-template-columns: repeat(3, auto);
  }
  .container .cards .card {
    width: 350px;
    height: 250px;
  }
  .container .cards #first-card {
    grid-column: 1;
    grid-row: 1/3;
    margin: auto 0;
  }
  .container .cards #second-card {
    grid-column: 2;
    grid-row: 1;
  }
  .container .cards #third-card {
    grid-column: 2;
    grid-row: 2;
  }
  .container .cards #fourth-card {
    grid-column: 3;
    grid-row: 1/3;
    margin: auto 0;
  }
}